/*global style start*/
:root{
    --primary-color: #3c80b4;
    --secondary-color: #7C3AED;
}

body{
    margin: 0;
}

.bui-container{
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 576px){
    .bui-container{
        max-width: 100%;
    }
}

@media (min-width: 576px){
    .bui-container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .bui-container{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .bui-container{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .bui-container{
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .bui-container{
        max-width: 1320px;
    }
}

/*global style end*/


/*navbar style start*/
.bui-navbar{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-box-shadow: 0px 1px 0px 0px hsl(240deg 6% 87%); 
    box-shadow: 0px 1px 0px 0px hsl(240deg 6% 87%);
}

.bui-navbar-container{
    position: relative;
}

.bui-navbar .bui-navbar-logo{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--secondary-color);
}

.bui-navbar-search{
    position: relative;
    flex-grow: 0.2;
}

.bui-navbar-search i{
    position: absolute;
    left: 10px;
}

.bui-navbar-search input{
    padding-left: 35px;
}

.bui-navbar-menu{
    gap: 10px;
}

.bui-navbar-menu button{
    padding-top: 8px;
    padding-bottom: 8px;
}

.bui-navbar-menu-item{
    cursor: default;
    padding: 0;
    margin: 0 10px;
}

.bui-navbar-icon{
    position: relative;
    cursor: pointer;
    font-size: 18px;
    margin: 0 3px;
}

.bui-navbar-icon .bui-badge-absolute {
    top: -5px;
    right: -8px;
}

.bui-mobile-menu{
    display: none;
}

.bui-mobile-menu > button{
    background: transparent;
    border: solid 1px #2563EB;
    color: #2563EB;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.bui-mobile-menu > button:hover{
    background: #2563EB;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .bui-desktop{
        display: none;
    }

    .bui-mobile-search{
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    
    .bui-mobile-menu{
        display: block;
    }

}
/*navbar style end*/


/*homepage category card block top start*/
.bui-home-category{
    display: flex;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.bui-home-category .bui-card{
    border: none;
    flex: 20%;
} 

@media only screen and (max-width: 768px){
    .bui-home-category{
        display: flex;
        flex-wrap: wrap;
    }

    .bui-home-category .bui-card{
        flex: 25%;
    }    
}

@media only screen and (max-width: 576px){
    .bui-home-category .bui-card{
        flex: 40%;
    }

    .bui-home-category .bui-card .bui-card-img-top{
        height: 8rem;
    }
}

.bui-home-category .bui-card .bui-card-img-overlay{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: inherit;
    background: #ffffffbd;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.bui-home-category .bui-card .bui-card-title{
    font-size: 14px;
    margin: 0;
}
/*homepage category card block top end*/

/*homepage category card block 2 bottom start*/
.bui-home-category-two{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bui-home-category-two .bui-card-row{
    max-height: 250px;
    background: #3c80b4;
    color: white;
    cursor: pointer;
    flex: 40%;
}

.bui-home-category-two .bui-card-row .bui-card-img-left{
    width: 50%;
    padding: 20px 30px;
}

.bui-home-category-two .bui-card-row .bui-card-body{
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 768px){
    .bui-home-category-two .bui-card-row .bui-card-img-left{
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 576px){
    .bui-home-category-two{
        display: flex;
        flex-wrap: wrap;
    }
    .bui-home-category-two .bui-card-row{
        flex: 100%;
        max-height: none;
    }

    .bui-home-category-two .bui-card-row .bui-card-img-left{
        width: auto;
    }
}
/*homepage category card block 2 bottom end*/

/*slider component start*/
.bui-slider-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 40vh;
    width: 100%;
}

.bui-slider-container .bui-slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.bui-slider-container .bui-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    animation: 9s slider infinite;
    z-index: -1;
    cursor: pointer;
}

@keyframes slider {
    0% {z-index: 0}
    33.32% {z-index: 0}
    33.33% {z-index: -1}
}

.bui-slider-container .bui-slider img:nth-child(1) {animation-delay: 0s}
.bui-slider-container .bui-slider img:nth-child(2) {animation-delay: 3s}
.bui-slider-container .bui-slider img:nth-child(3) {animation-delay: 6s}

@media only screen and (max-width: 576px){
    .bui-slider-container{
        height: 20vh;
    }
}
/*slider component end*/

/*products page start*/
.bui-products-block{
    padding-left: 4rem;
    padding-right: 4rem;
}

.bui-products{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.bui-products-filter, .bui-products-listing{
    padding: 20px;
}

.bui-products-listing .bui-products-title{
    font-weight: bold;
    margin: 0;
}

.bui-products-title span{
    font-size: 12px;
    font-weight: normal;
}

.bui-filter-mobile{
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.bui-products-col{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bui-products-col .bui-card-product{
    flex-grow: 0;
    flex-shrink: 0;
}

.bui-card-product{
    border-radius: 0px;
    border-bottom: 0px;
    max-width: 200px;
}

.bui-card-product .bui-whishlist-icon{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 15px;
    background: white;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.bui-whishlist-icon i{
    color: black;
}

.bui-whishlist-icon.bui-whishlisted i{
    color: red;
}

.bui-card-product .bui-card-img-top{
    height: 15rem;
    object-fit: contain;
}

.bui-card-product .bui-card-body{
    padding: 5px 5px;
}

.bui-card-body .bui-card-text{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bui-card-product .bui-addcart{
    width: 100%;
    border-radius: 0;
    margin: 0px;
}

.bui-filter{
    display: flex;
    justify-content: space-between;
}

.bui-filter a{
    color: black;
}

.bui-filter-block{
    margin-top: 20px;
}

.bui-slider{
    width: 100%;
}

.bui-filter-label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.bui-filter-title{
    font-weight: bold;
    margin: 0;
}

@media (max-width: 992px){
    .bui-products{
        display: grid;
        grid-template-columns: 1fr;
    }

    .bui-products .bui-products-filter{
        position: absolute;
        height: 100vh;
        z-index: 10;
        background: white;
        width: 300px;
        display: none;
        overflow: auto;
    } 

    .bui-filter-mobile{
        display: block;
    }
}

@media (max-width: 576px){
    .bui-products-block{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .bui-card-product .bui-card-img-top {
        height: 11rem;
    }
}

/*product page end*/


