/*Wishlist page start*/
.bui-wishlist-title{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
}

.bui-wishlist{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

@media (max-width: 922px){
    .bui-wishlist{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
}

@media (max-width: 576px){
    .bui-wishlist{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
}
/*wishlist page end*/